{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div id="follow-div">
        팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}
      </div>
      {% if user != person %}
        <div>
          <form id="follow-form" data-user-id="{{ person.pk }}">
            {% csrf_token %}
            {% if user in followers %}
              <button id="followBtn" type="submit">언팔로우</button>
            {% else %}
              <button id="followBtn" type="submit">팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endwith %}
{% endblock content %}


{% block script %}
  <script>
    const form = document.querySelector('#follow-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const userId = event.target.dataset.userId
      axios({
        method:'POST',
        url:`/accounts/${userId}/follow/`,
        headers: {'X-CSRFToken': csrftoken,}
      })
      .then((response) => {
          const followBtn = document.querySelector('#followBtn')
          const followDiv = document.querySelector('#follow-div')
          const is_followed = response.data.is_followed
          console.log(is_followed)
          followBtn.innerText = is_followed ? '언팔로우': '팔로우'
          followDiv.innerText = 
          `팔로잉 : ${response.data.following_count} / 팔로워 : ${response.data.follower_count}`
        })
    })
  </script>
{% endblock script %}