{% extends 'base.html' %}

{% block content %}
<h1>EDIT</h1>
<hr>
<form action="{% url 'movies:update' movie.pk %}" method="POST">
  {% csrf_token %}
  <label for="title">TITLE </label>
  <input type="text" id="title" name='title' value={{ movie.title }}>
  <br>
  <label for="audience">AUDIENCE </label>
  <input type="text" id="audience" name='audience' value={{ movie.audience }}>
  <br>
  <label for="release_date">RELEASE_DATE </label>
  <input type="date" id="release_date" name='release_date' value={{ movie.release_date|date:'Y-m-d' }}>
  <br>
  <label for="genre">GENRE:</label>
  <select id="genre" name="genre">
  {% for genre in genres %}
    {% if genre == movie.genre %}
      <option value={{ genre }} selected >{{ genre }}</option>
    {% else %}
      <option value="{{ genre }}"></option>
    {% endif %}
  {% endfor %}
  </select>
  
  <br>
  <label for="score">SCORE: </label>
  <input type="number" id="score" name="score" min="0" step='0.5' max="5" value={{ movie.score }}>
  <br>
  <label for="poster_url">POSTER_URL </label>
  <input type="text" id="poster_url" name='poster_url' value={{ movie.poster_url }}>
  <br>
  <label for="description">DESCRIPTION</label>
  <textarea name="description" id="description" cols="30" rows="10">{{ movie.description }}</textarea>
  <br>
  <a href="{% url 'movies:reset' movie.pk %}">리셋</a>
  <a href="{% url 'movies:reset' movie.pk%}"><button>reset</button></a>
  <input type="submit" >
  <hr>
  <a href="{% url 'movies:index' %}">BACK</a>
  

{% endblock content %}

